body {
    font-family: 'Helvetica', 'Pingfang SC', sans-serif;
    letter-spacing: -0.05rem;
    text-rendering: geometricPrecision;
}

.sidebar {
    background: var(--light);
    border: 1px solid black;
    width: 250px;
}

.sidebar-title {
    margin: 20px;
}